<h1>My Todos</h1>

<%= link_to "New Todo", new_todo_path, class: "btn btn-primary" %>
<%= link_to "Logout", destroy_user_session_path,
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to logout?" },
            class: "btn btn-danger" %>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <strong><%= todo.title %></strong> - <%= todo.description %>
      <% if todo.completed %>
        ✅ Completed
      <% else %>
        ❌ Not Completed
      <% end %>

      <%= link_to "Show", todo_path(todo), class: "btn btn-info" %> |
      <%= link_to "Edit", edit_todo_path(todo), class: "btn btn-warning" %> |
      <%= link_to "Delete", todo_path(todo),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this todo?" },
                  class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>
